@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background: black;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: white;
}
.site-avatar {
  position: relative;
  top: 10px;
  left: 10px;
}
.site-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.28);
}
.site-avatar:focus {
  background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
  color: white;
  font-weight: normal;
  margin: 10px 0;
}
::selection {
  color: inherit;
  background: rgba(0, 188, 212, 0.4);;
}
:focus {
  background-color: rgba(255,255,255,0.1);
}
a:hover, a:active {
  color: white;
}
nav a {
  color: rgba(255,255,255,0.5);
  margin-left: 1px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.28);
}
.date {
  font-style: normal;
  color: rgba(255,255,255,0.3);
  font-size: .7em;
}
.site-info {
  display: none;
}
p {
  margin: 10px 0;
}
article > h1 {
  font-size: 40px;
}
code {
  font-family: 'Inconsolata','Bitstream Vera Sans Mono','Courier', monospace;
}
.masthead {
  padding: 0;
  border-bottom: none;
}
.wrapper-masthead {
  background: rgba(255,255,255,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 0;
}
.wrapper-footer {
  margin-top: 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  border: none;
  background-color: rgba(255,255,255,0.1);
}
footer a {
  display: inline-block;
  padding: 0 5px;
}
footer a:hover, footer a:active, footer a:focus {
  background-color: transparent;
}
a i {
  transition: transform .2s;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.28));
}
a:hover i {
  transform: scale(1.2);
}
a:focus i {
  transform: scale(1.05);
}
#main {
  margin-bottom: 100px;
  margin-top: 120px;
}
a {
  color: #00BCD4;
}
a:not(.site-avatar):hover, a:not(.site-avatar):active {
  background-color: rgba(255,255,255,0.2);
}
.highlight {
  background-color: rgba(255,255,255,0.1);
  box-shadow: none;
  border: none;
  overflow: auto;
}
.highlight code {
  -webkit-filter: invert();
  filter: invert();
}
.post blockquote {
  margin: .8em 0;
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  padding: 0.1em 1em;
  color: #666;
  font-size: inherit;
  font-style: normal;
  background: rgba(255,255,255,0.08);
}
ul, ol {
  list-style-type: none;
  padding-left: 10px;
}
ul ul, ol ul {
  list-style-type: inherit;
}
ul>li:before {
  content: '- ';
}
ol>li {
  counter-increment: merp;
}
ol>li:before {
  content: counter(merp) ' ';
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
ol>li:first-child {
  counter-reset: merp;
}
.posts > .post {
  padding-bottom: 15px;
  border-bottom: none;
}
footer {
  padding: 10px 0;
}
hr {
  border-color: rgba(255,255,255,0.5);
}
